header {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

nav {
    border-top: 1px solid #eee;
}


main {
    max-width: 1350px;
    margin: 30px auto;
    background: #fff;
    padding: 30px;
}


footer {
    background: #d9d9d9;
    padding: 40px 60px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-row-gap: 40px;
    column-gap: 60px;
}





.FDLacrticalBig {
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    position: relative;
}

.FDLacrticalnyt {
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 30px;
    height: 900px;
}

.FDLacrticalbig2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 25px;
}
